* {
    scrollbar-width: none;
}
body {
    background-color: #212529!important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.gradient-custom {
    background-color: #4070d9;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.card-registration .select-arrow {
    top: 13px;
}
