* {
    scrollbar-width: none;
}
body {
    background-color: #212529!important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.gradient-custom {
    background: #f093fb;

    background: -webkit-linear-gradient(
            to bottom right,
            rgba(240, 147, 251, 1),
            rgba(245, 87, 108, 1)
    );

    background: linear-gradient(
            to bottom right,
            rgba(240, 147, 251, 1),
            rgba(245, 87, 108, 1)
    );
}

